:root {
                    --name-font-size: 30px;
                    --name-line-height: 34px;
                    --title-font-size: 24px;
                    --title-line-height: 34.47px;
                    --text-font-size: 16px;
                    --text-line-height: 27.58px;
}
* {
                    box-sizing: border-box;
}
body {
                    font-family: Ubuntu, sans-serif, Roboto;
                    background-color: #272A2F;
}
body, div, p, h1, h2, h3, ul {
                    padding: 0;
                    margin: 0;

}
ul, ol {
                    list-style: none;
}
a {
                    text-decoration: none
}