.header {
                    background-color: #19849B;
}
.header_name {
                    font-family: Ubuntu, sans-serif, Roboto;
                    font-size: var(--name-font-size);
                    line-height: var(--name-line-height);
                    display: flex;
                    justify-content: center;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    color: white;
}
.header_portfolio {
                    display: flex;
                    justify-content: center;
}
.header__column-left {
                    display: flex;
                    background-size: cover;
                    margin: 51px 68px 104px 227px;
}
.header__column-right {
                    margin: 51px 174px 14px 0;
}
.header__biography {
                    font-size: var(--title-font-size);
                    line-height: var(--title-line-height);
                    font-family: Ubuntu, sans-serif, Roboto;
                    font-weight: bold;
                    color: white;
}
.header__subtitle {
                    font-size: var(-text-font-size);
                    line-height: var(--text-line-height);
                    font-weight: bold;
                    color: white;
                    margin: 12px 0 30px 0;
}

.header__text {
                    font-family: 'Ubuntu', sans-serif;
                    color: white;
                    font-size: 16px;
                    line-height: 18.38px;
}
.header__hr {
                    height: 4px;
                    padding: 0 0 0 0;
                    border-color:#19849B;
                    background-color: #19849B;

}

.main__title {
                    font-size: var(-text-font-size);
                    line-height: var(--text-line-height);
                    font-weight: bold;
                    color: white;
                    padding: 0 14px 0 227px;
}
.main__subtitle {
                    color: white;
                    font-size: 16px;
                    line-height: 18.38px;
                    padding: 0 447px 28px 227px;
}

.main_section {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    row-gap: 20.35px;
                    column-gap: 20.35px;
                    justify-content: center;
                    margin: 0 175px 100px 227px;
                    padding-right: 50px;
}

.footer {
                    background-color: #19849B;
                    display: flex;
                    justify-content: center;
}
.footer__portfolio-image {
                    display: block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    margin: 31px 17px 0 0;
}
.footer_name {
                    margin: 42px 0 6px 0;
                    font-size: 22px;
                    line-height: 25px;
                    color: white;
}
.footer_number {
                    margin-bottom: 6px;
                    font-size: 18px;
                    line-height: 20.68px;
                    color: white;
}
.footer_place {
                    margin-bottom: 6px;
                    font-size: 18px;
                    line-height: 20.68px;
                    color: white;
}
.footer_info {
                    background-color: #16758A;
}
.footer__info_text {
                    font-size: 12px;
                    display: flex;
                    padding: 17px 0 17px 0;
                    justify-content: center;
                    color: white;
                    line-height: 14px;

}