.header {
                    background-color: #19849B;
}
.header_name {
                    font-family: Ubuntu, sans-serif, Roboto;
                    font-size: var(--name-font-size);
                    line-height: var(--name-line-height);
                    display: flex;
                    justify-content: center;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    color: white;
}
.header_portfolio {
                    display: flex;
                    justify-content: space-between;
}
.header__column-left {
                    display: flex;
                    background-size: cover;
                    margin: 51px 68px 104px 227px;
}
.header__column-right {
                    margin: 51px 174px 14px 0;
}
.header__biography {
                    font-size: var(--title-font-size);
                    line-height: var(--title-line-height);
                    font-family: Ubuntu, sans-serif, Roboto;
                    font-weight: bold;
                    color: white;
}
.header__subtitle {
                    font-size: var(-text-font-size);
                    line-height: var(--text-line-height);
                    font-weight: bold;
                    color: white;
                    margin: 12px 0 30px 0;
}

.header__text {
                    font-family: 'Ubuntu', sans-serif;
                    color: white;
                    font-size: 16px;
                    line-height: 18.38px;
}
.header__hr {
                    height: 4px;
                    padding: 0 0 0 0;
                    border-color:#19849B;

}